<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206575573221-clchnrkmdqa6g0cut9aj51vr40bsrr47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206575573221-clchnrkmdqa6g0cut9aj51vr40bsrr47</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>206575573221-km39t9fhplsaa28ah0h0pkp7mfkcnjtn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAH9JayHA9w8Lzi4D9zJGBxU8Vx1Bht800</string>
	<key>GCM_SENDER_ID</key>
	<string>206575573221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-c8f1c</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-c8f1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206575573221:ios:49584551b301c10bfe5c0c</string>
</dict>
</plist>